/*
I used RGBA to create transparency while developing so the mock would peek
through making sure everything lines up with the mock.
*/
// $alpha: .7;
$alpha: 1;
$mainBgColor: #f9f8f9;
$primaryTextColor: #505050;
$primaryLinkColor: #328fc2;

$headNavBgColor: rgba(49, 143, 194, $alpha);
$headNavLogoColor: #1c264a;
$headNavLinkColor: #f9f8f9;
$headNavLinkBgActiveColor: #006999;

$footerBgColor: rgba(231, 232, 233, $alpha);

$fontFamilyBold: HelveticaNeueBold, Helvetica, Arial, "Lucida Grande", sans-serif;
$fontFamilyLight: HelveticaNeueLight, Helvetica, Arial, "Lucida Grande", sans-serif;
$fontFamilyRegular: HelveticaNeue, Helvetica, Arial, "Lucida Grande", sans-serif;
$fontFamilyMedium: HelveticaNeueMedium, Helvetica, Arial, "Lucida Grande", sans-serif;

$colorPurple: #650360;

@font-face {
    font-family: HelveticaNeueBold;
    src: url('/fonts/HelveticaNeueBd.ttf');
}
@font-face {
    font-family: HelveticaNeueLight;
    src: url('/fonts/HelveticaNeueLt.ttf');
}
@font-face {
    font-family: HelveticaNeue;
    src: url('/fonts/HelveticaNeue.ttf');
}
@font-face {
    font-family: HelveticaNeueMedium;
    src: url('/fonts/HelveticaNeueMed.ttf');
}
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    padding: 101px 0 0 0;
    // background: transparent url('../mocks/new-code-test-1.jpg') no-repeat top center;
    color: $primaryTextColor;
    font-family: $fontFamilyRegular;
}

header {
    height: 45px;
    background-color: $headNavBgColor;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
    .nav {
        display: none;
        li a {
            color: $headNavLinkColor;
        }
        li.active a {
            background-color: $headNavLinkBgActiveColor;
        }
    }
    .logo {
        background: transparent url('/images/logo.png') no-repeat left center;
        display: block;
        float: left;
        text-transform: uppercase;
        color: $headNavLogoColor;
        margin-left: 21px;
        text-decoration: none;
        height:45px;
        width: 160px;
    }
    .mobile-nav-btn {
        color: $headNavLinkColor;
        float: right;
        text-decoration: none;
        line-height: 45px;
        font-size: 1.8em;
        padding: 0 20px;
    }
}

.nav {
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
        float: left;
        a {
            text-transform: lowercase;
            text-decoration: none;
            display: block;
            padding: 0 19px;
            font-size: 16px;
            line-height: 45px;
            font-family: $fontFamilyRegular;
        }
        a:hover {
            text-decoration: underline;
        }
    }
    li.active a {
        font-family: $fontFamilyBold;
        padding: 0 21px;
    }
}

/* Typography */
a {
    color: $primaryLinkColor;
    font-family: $fontFamilyRegular;
}

h1, h2, h3, h4, h5 {
    margin: 0;
    letter-spacing: .039em;
    line-height: 1.2em;
    font-family: $fontFamilyLight;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 28px;
    margin-bottom: 20px;
    line-height: 45px;

    span {
        padding-left: 14px;
        margin-left: 7px;
        line-height: 45px;
        letter-spacing: 0.01em;
        display: inline-block;
        border-left: 1px solid $primaryTextColor;
        font-family: $fontFamilyRegular;
    }
}

p {
    margin: 24px 0 20px;
    padding: 0 2px 0 2px;
    font-size: 14px;
    line-height: 1.4em;
    letter-spacing: .02em;
}

.title-medium {
    font-size: 16px;
    font-family: $fontFamilyBold;
    letter-spacing: normal;
}

.title-large {
    font-size: 24px;
    letter-spacing: .01em;
    font-family: $fontFamilyLight;
}

.purple {
    color: $colorPurple;
}

.text-right {
    text-align: right;
}


/* Mobile first layout structure */
.container {
    margin: 0 auto;
}

#content {
    min-height: 100%;
    height: auto;
    padding: 0 18px 10px;
    box-sizing: border-box;
    font-size: 14px;
    letter-spacing: 0.67px;
    > article {
        padding-bottom: 67px;
        ul {
            padding: 0;
            margin: 12px 0 32px;
            list-style-position: inside;
            li {
                margin: 5px 0px;
                padding-left: 1px;
                letter-spacing: .018em;
            }
        }
    }
    > aside {
        padding-top: 9px;
    }
}

/* Mobile info */
.mobile-info {
    padding: 13px 100px 16px 16px;
    margin: 0 1px 49px 2px;
    background-color: #bbd8c4;
    position: relative;
    p {
        margin: 8px 0 0 0;
        padding: 0 45px 0 0;
    }
    div.phone {
        background: transparent url('/images/mobile.png') no-repeat center center;
        width: 106px;
        height: 178px;
        bottom: 11px;
        right: 29px;
        position: absolute;
    }
}

/* Table */
table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: none;
    thead {
        tr {
            height: 28px;
            th {
                font-size: 12px;
                font-weight: normal;
                color: #999;
                font-family: $fontFamilyLight;
            }
            th:first-of-type {
                padding-right: 13px;
            }
        }
    }
    tfoot {
        tr {
            height: 26px;
            td {
                font-size: 12px;
                font-weight: normal;
                color: #999;
                font-family: $fontFamilyLight;
            }
        }
    }
    tbody {
        font-family: $fontFamilyRegular;
        tr:first-of-type {
            td {
                font-family: $fontFamilyBold;
                font-size: 18px;
            }
        }
        tr {
            height: 46px;
            td {
                font-size: 16px;
                padding: 0 13px 0 18px;
                vertical-align: middle;
            }
            td:nth-child(2), td:nth-child(3) {
                text-align: right;
            }
        }
        tr:nth-child(odd) {
            background-color: #eef5f0;
        }
        tr:nth-child(even) {
            background-color: #ddebe1;
        }
    }
}

/* Buttons */
.btn {
    display: block;
    color: #fff;
    text-decoration: none;
    text-align: center;
    background-color: $colorPurple;
    font-size: 18px;
    font-family: $fontFamilyBold;
    padding: 7px 0 6px;
    margin: 0 2px;
    border: none;
}

/* Tabs */
.tabs {
    ul {
        padding: 0;
        margin: 24px 0 0;
        list-style-type: none;
        overflow: hidden;
        height: 45px;
        li {
            float: left;
            a {
                background-color: #ddebe1;
                border: 1px solid #cccccc;
                border-left: none;
                border-bottom: none;
                display: block;
                font-size: 18px;
                font-family: $fontFamilyRegular;
                padding: 7px 15px 5px;
                margin-top: 9px;
                text-decoration: none;
                line-height: 22px;
            }
        }
        li.active {
            a {
                background-color: #f5f5f5;
                color: inherit;
                margin-top: 0;
                padding-top: 16px;
                padding-bottom: 6px;
            }
        }
        li.active:last-of-type {
            a {
                border-left: 1px solid #ccc;
                margin-left: -1px;
            }
        }
    }
    .tab-content {
        border-top: 1px solid #cccccc;
        margin-top: -1px;
        background-color: #f5f5f5;
        padding: 17px;
        article {
            margin: 10px 0 23px;
        }
        h1 {
            font-size: 16px;
            letter-spacing: 0.03em;
            a {
                text-decoration: none;
                font-family: $fontFamilyBold;
            }
            a:hover {
                text-decoration: underline;
            }
        }
        p {
            margin-top: 8px;
            padding: 0;
            font-size: 14px;
            letter-spacing: 0.02em;
            line-height: 1.5em;
        }
        .tab-group {
            display: none;
        }
        .tab-group.active {
            display: block;
        }
    }
}

/* Modal */
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    display: none;
    .modal-shade {
        background-color: #000;
        opacity: .5;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
    .modal-dialog {
        background-color: #fff;
        position: absolute;
        box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.6);
        width: 90%;
        left: 5%;
        top: 55px;
        .modal-close {
            background: transparent url('/images/close-icon.png') no-repeat center center;
            width: 16px;
            height: 15px;
            float: right;
            margin: 15px;
        }
    }
}

#modal-login {
    form {
        margin: 24px 30px 28px;
        .title-large {
            padding-bottom: 20px;
        }
        .btn {
            float: none;
            width: 100%;
            margin: 0;
        }
        .form-group {
            margin: 20px 0;
        }
        label {
            font-family: $fontFamilyBold;
            font-size: 14px;
            float: left;
            margin: 7px 0;
            width: 100%;
        }
        input {
            font-size: 14px;
            border: 1px solid #328fc2;
            padding: 8px;
            box-sizing: border-box;
            width: 100%;
        }
    }
}

/* Footer, is sticky */
footer {
    background-color: $footerBgColor;
    height: 50px;
    clear: both;
    .copy {
        line-height: 45px;
        color: $primaryLinkColor;
        text-align: center;
    }
    .container {
        padding-top: 4px;
    }
    .nav {
        display: none;
    }
}


.clearboth {
    clear: both;
}

/* Desktop last */
@media screen and (min-width: 1024px) {
    header {
        .nav {
            display: block;
        }
        .mobile-nav-btn {
            display: none;
        }
    }
    .container {
        width: 980px;
    }
    #content {
        > article {
            float: left;
            width: 703px;
        }
        > aside {
            width: 224px;
            float: right;
        }
    }
    footer {
        height: 100px;
        margin-top: -100px;
        .copy {
            float: left;
            text-align: left;
            padding-left: 20px;
        }
        .nav {
            display: block;
        }
    }
    .modal {
        .modal-dialog {
            width: 448px;
            margin-left: -224px;
            left: 50%;
            top: 140px;
        }
    }
    #modal-login {
        form {
            .btn {
                float: right;
                width: 35%;
            }
            label {
                float: left;
                width: 23%;
            }
            input {
                width: 77%;
            }
        }
    }
    .title-large {
        font-size: 28px;
    }
}
